In [1]:
import pandas as pd

In [2]:
def is_even(n):
    if n%2==0:
        return True
    else:
        return False

In [3]:
s= lambda n: True if n%2==0 else False
print(s(6))

True

In [4]:
s = lambda a:True if 'n' in a.lower() else False
print(s("pranisha"))

True

In [6]:
#write a lambda function that takes a number that is divisible by 5 and 10
s=lambda a:True if (a%5==0 & a%10==0) else False 
print(s(15))

True

In [7]:
df=pd.read_csv('titanic.csv')

In [11]:
def change_gender(g):
    if g=='male':
        return 1
    else:
        return 0

In [15]:
df.Sex.apply(change_gender)

0      1
1      0
2      0
3      0
4      1
      ..
886    1
887    0
888    0
889    1
890    1
Name: Sex, Length: 891, dtype: int64

In [16]:
df.Sex

0        male
1      female
2      female
3      female
4        male
        ...
886      male
887    female
888    female
889      male
890      male
Name: Sex, Length: 891, dtype: object

In [18]:
df.Sex = df.Sex.apply(change_gender)

In [19]:
df.Sex

0      1
1      0
2      0
3      0
4      1
      ..
886    1
887    0
888    0
889    1
890    1
Name: Sex, Length: 891, dtype: int64

In [20]:
df.Embarked.isnull().sum()

2

In [21]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [24]:
df.Embarked.fillna(df.Embarked.mode()[0],inplace=True)

In [27]:
df.Embarked.unique()

array(['S', 'C', 'Q'], dtype=object)

In [31]:
def change_embarked(e):
    if e == 's'
        return 1
    else if e == 'c'
        return 2
    else e == 'q'
        return 0

SyntaxError: expected ':' (312088526.py, line 2)